<!DOCTYPE html>
<html lang="en" ng-app="GraphManager">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Proyecto #3 - Grafos</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="Materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />

  <!---JavaScript-->
  <!--
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  !-->
  <!---JavaScript-->
  <!--
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  !-->
  <script src="Angular\angular-sanitize.min.js"></script>

  <script src="Materialize/js/bin/jquery-1.12.1.min.js"></script>
  <script src="Angular\angular.min.js"></script>
  <script src="Angular\angular-sanitize.min.js"></script>

  <script src="Materialize/js/bin/materialize.min.js"></script>
  <script src="Materialize/js/bin/init.js"></script>
  <script src="Angular\app.js"></script>

</head>

<body ng-controller="mainCtrl">
  <nav class="" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Proyecto 3</a>
    </div>
  </nav>
  <!--Nav Ends-->
  <div class="container">
    <div id="title-group" class="center-align">
      <h1>Grafos</h1>
      <a ng-click="nuevoVertice()" id="addVerBtn" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Nuevo Vértice</a>
      <div class="row">
        <br/>
        <div class="valign-wrapper">
          <div class="col s5">
            <label>Vértice de Salida</label>
            <div class="input-field">
              <select ng-model="selectedSalida" ng-options="vertice.id for vertice in vertices" id="salidaSelect" class="browser-default">
                <option value="" disabled selected>Selecciona un Valor</option>
              </select>
            </div>
          </div>

          <div class="col s5">
            <label>Vértice de Llegada</label>
            <div class="input-field">
              <select ng-model="selectedLlegada" ng-options="vertice.id for vertice in vertices" id="llegadaSelect" class="browser-default">
                <option value="" disabled selected>Selecciona un Valor</option>
              </select>
            </div>
          </div>
          <div class="input-field col s2">
            <input id="costo" type="number" class="validate">
            <label for="costo">Costo</label>
          </div>
        </div>
        <div class="valign-wrapper">

          <div class="col s12 btn-margin">
            <input ng-model="bidireccional" ng-checked="bidireccional" type="checkbox" id="bidireccional" />
            <label for="bidireccional">Bidireccional</label>
          </div>
        </div>

        <a ng-click="nuevaConexion()" id="addConBtn" class="btn-margin waves-effect waves-light btn">
          <i class="material-icons left">add</i>Nueva Conexión
        </a>
      </div>
    </div>

    <div id="" class="z-depth-1">
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#grafosTab">Grafos</a></li>
            <li class="tab col s3"><a class="" href="#conexionesTab">Conexiones</a></li>
            <li class="tab col s3"><a href="#eulerTab">Euler</a></li>
            <li class="tab col s3"><a href="#dijkstraTab">Dijkstra</a></li>
          </ul>
        </div>
        <div id="grafosTab" class="col s12">

            <div class="row center-align">
              <div class="col s12 btn-margin">
                <a ng-click="resetVertices()" id="" class="btn-margin btn-flat waves-effect">
                  <i class="material-icons left">delete</i>Borrar Todos
                </a>
              </div>
            </div>

          <ul class="collection">
            <h1 class="center-align" ng-if="vertices.length==0">No hay vértices...</h1>
            <li ng-repeat="vertice in vertices track by vertice.id" class="collection-item avatar">
              <i class="circle red" style="background-color: {{vertice.color}} !important;"></i>
              <span class=""></span>
              <h5>
                {{vertice.id}}
              </h5>
              <p>
                Grado: {{vertice.grado}}
              </p>
              <a ng-click="eliminarVertice(vertice.id)" href="#!" class="secondary-content">
                <i class="material-icons text-red small">delete</i>
              </a>
            </li>
          </ul>
        </div>

        <div id="conexionesTab" class="col s12">
          <div class="row center-align">
            <div class="col s12 btn-margin">
              <a ng-click="resetConexiones()" id="" class="btn-margin btn-flat waves-effect">
                <i class="material-icons left">delete</i>Borrar Todas
              </a>
            </div>
          </div>
          <ul class="collection">
            <h1 class="center-align" ng-if="matriz.length==0">No hay conexiones...</h1>
            <li ng-if="matriz.length!=0" ng-repeat="conexion in matriz" class="collection-item valign-wrapper">
              <div class="col s4">
                <i class="circle red"></i>
                <h4 class="center-align">{{conexion.salida}}</h4>
              </div>

              <div class="col s2">
                <i class="material-icons large center-align">trending_flat</i>
              </div>

              <div class="col s4">
                <i class="circle red"></i>
                <h4 class="">{{conexion.llegada}}</h4>
              </div>
              <span ng-if="conexion.costo !== 0" class="badge blue-grey white-text">{{conexion.costo}}</span>
              <a ng-click="eliminarConexion(conexion)" href="#!" class="secondary-content"><i class="material-icons text-red small">delete</i></a>
            </li>
          </ul>
        </div>
        <div id="eulerTab" class="col s12">
          <h2 class="center-align">{{tipo}}</h2>
          <br/>
          <div id="path" class="center-align" ng-bind-html="path_html"></div>
        </div>
        <div id="dijkstraTab" class="col s12 center-align">
          <div class="valign-wrapper row">
            <div class="col s6 center-align">
              <label>Vértice de Salida</label>
              <div class="input-field">
                <select ng-model="selectedSalidaDij" ng-options="vertice.id for vertice in vertices" id="salidaSelect" class="browser-default">
                  <option value="" disabled selected>Selecciona un Valor</option>
                </select>
              </div>
            </div>

            <div class="col s6 center-align">
              <label>Vértice de Llegada</label>
              <div class="input-field">
                <select ng-model="selectedLlegadaDij" ng-options="vertice.id for vertice in vertices" id="llegadaSelect" class="browser-default">
                  <option value="" disabled selected>Selecciona un Valor</option>
                </select>
              </div>
            </div>
          </div>
          <a ng-click="dijkstra_init(selectedSalidaDij, selectedLlegadaDij, vertices, matriz)" id="dijkstraBtn" class="btn-margin waves-effect waves-light btn"><i class="material-icons left">play_arrow</i>Calcular Ruta</a>
          <div id="dijkstraResult" class="" ng-bind-html="dijkstra_html">

          </div>
        </div>
      </div>
    </div>

  </div>

</body>

</html>
